/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); */

body {
  font-family: Montserrat;
}

/* Breakout mantığı */

/* .container {
  max-width: 1280px;
  margin-inline: auto;
  background-color: lightgoldenrodyellow;

  padding: 20px;
}

.footer {
  background-color: lightskyblue;
} */

/* Flexbox */

.container {
  width: 500px;
  display: flex;
  gap: 10px;
  background-color: lightskyblue;
  padding: 20px;
}

.box {
  background-color: lightcoral;
  padding: 20px;
}

/* GAP Özelliği */
/* Grid ve Flex container içindeki öğeler arasındaki boşluğu tanımlamak için kullanılır */

/* .container {
  display: flex;
  gap: 20px;
} */

/* Flex Direction Özelliği */
/* Flex container içindeki öğelerin ana eksenini yani yönünü belirler */

/* .container {
  display: flex;
  flex-direction: column;
  gap: 5px;
} */

/* Flex Wrap Özelliği */
/* flex container içindeki öğelerin tek bir satırda mı yoksa 
birden fazla satırda mı yer alacağını belirler. Bu özellik öğelerin 
satırda taşma durumunu nasıl kontrol edeceğini belirler */

/* .container {
  flex-wrap: wrap;
} */

/* justify-content özelliği */
/* flex container içindeki öğelerin ana eksen boyunca nasıl 
hizalanacağını belirler. */

/* .container {
  justify-content: space-between;
} */

/* align-content Özelliği */
/* Flex container içindeki satırların nasıl hizalanacağını belirler
Bu özellik birden fazla satır olduğunda geçerlidir. */

/* .container {
  flex-wrap: wrap;
  align-content: center;
} */

/* align-items Özelliği */
/* Flex container içindeki satırların nasıl hizalanacağını belirler
Bu özellik tek bir satırdaki öğelerin hizanlanmasını kontrol eder */

/* .container {
  align-items: flex-end;
} */

/* align-items ile align-content arasındaki fark
align-items -> tek tek itemları hizalar
align-content -> satırları hizalar
*/

/* .box1 {
  order: 3;
}

.box2 {
  order: 1;
}

.box3 {
  order: 2;
} */

/* align-self özelliği */

/* .container {
  align-items: flex-start;
}

.box1 {
  align-self: center;
}

.box2 {
  align-self: flex-end;
}

.box3 {
  align-self: stretch;
} */

/* flex-shrink
flex container'ın boyutu küçüldüğünde ne kadar küçüleceğini belirler
*/

/* flex-grow
boyutu büyüdüğünde ne kadarbüyüyeceğini belirler
 */

/* flex-basis
flex container'ın ana boyunu belir. bu özellik öeğenin başlangıç boyutunu ayarlar
ve width / height özelliklerinden önce gelir. */